version: 2.1

orbs:
  python: rohanpm/python@1.1.0

workflows:
  version: 2
  ci-cd:
    jobs:
    - python/tox:
        name: Python 2.6 tests
        toxenv: py26
        executor: python/python26
        filters: &ci_filters
          branches:
            ignore: gh-pages
          tags:
            only: /^v.*/
    - python/tox:
        name: Python 2.7 tests
        toxenv: py27
        executor: python/python27
        persist_coverage: true
        filters:
          <<: *ci_filters
    - python/tox:
        name: Python 3.6 tests
        toxenv: py36
        executor: python/python36
        persist_coverage: true
        filters:
          <<: *ci_filters
    - python/tox:
        name: API compatibility check
        toxenv: pidiff
        filters:
          <<: *ci_filters
    - python/tox:
        name: Static checks
        toxenv: static
        filters:
          <<: *ci_filters
    - python/tox:
        name: Build docs
        toxenv: docs
        # For pushing to gh-pages
        context: secrets
        post-steps:
        - run: scripts/push-docs
        filters:
          <<: *ci_filters
    - python/coveralls:
        name: Submit coverage results to Coveralls.io
        requires:
        - Python 2.7 tests
        - Python 3.6 tests
        context: secrets
        filters:
          <<: *ci_filters
    - python/codeclimate-upload-coverage:
        name: Submit coverage results to codeclimate
        test_reporter_id: d02a1b5b6e33a7225c7c9e39145d3e89dc984a56e465bac4f9d276bba6ee4b84
        requires:
        - Python 2.7 tests
        - Python 3.6 tests
        filters:
          <<: *ci_filters
    - python/release:
        name: Release to PyPI
        # For twine credentials
        context: secrets
        # Only release if all tests passed
        requires:
        - Python 2.6 tests
        - Python 2.7 tests
        - Python 3.6 tests
        - Static checks
        - Build docs
        filters:
          <<: *ci_filters
